<div >
    <h2>Booking : {{booking?.name | uppercase}}</h2>
    <div>
        Id : {{booking?.id}}
    </div>
    <div>
        Name : {{booking?.name}}
    </div>
    <!--div>
        <label for="name">Name : </label>
        <input id="name" [(ngModel)]="booking?.name" placeholder="name">
    </div-->
    <!--div>
        <label for="superId">Super id: </label>
        <input id="superId" [(ngModel)]="superId" placeholder="superId">
    </div-->
    <button type="button" (click)="goBack()">go back</button>
</div>